@import "catppuccin.css";

* {
    font-family: sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: @base;
    color: @text;
}

#waybar>box {
	margin: 0.5em 1em 0.5em 1em;
}

window#waybar>box>box>widget>* {
    color: @text;
    background-color: @surface0;
    border: none;
    padding: 0.5em 1em;
    border-radius: 100em;
	margin: 0 0.5em;
}
